/* .App {
  text-align: center;
} */

/* .header {
  display: flex;
  max-width: 100%;
  justify-content: center;
} */


/* .picture {
  width: 40%;
  margin: 0 auto;
} */

/* .explanation {
  width: 75%;
  margin: 3% auto;
  text-align: center;
} */

/* .title {
  margin-bottom: 5%;
} */